<div class="container-fluid bg  text-center">
  <span class="black-bg">
  </span>
  <div class="content pos-r">
    <p class="header-title">Find a nice food spot</h1>
    <p class="lead">Where do your frends like to go to?</p>
    <button class="btn btn-raised btn-success"><span class="glyphicon glyphicon-chevron-right"> </span> Discover now!</button>
  </div>
  <div class="pad-t">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
      <div class="head-number">1</div>
      <h2>connect <br/> with facebook</h2>
      <p>Don't freack out:<br>FoodSpots will nevere post <br> something on your wall</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
      <div class="head-number">2</div>
      <h2>View where your<br/>friends like to go to</h2>
      <p>Lorem Ipsum is simply dummy text<br> of the printing and typesetting<br> industry. Lorem</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
      <div class="head-number">3</div>
      <h2>Discover new <br/>food spots nearby</h2>
      <p>Lorem Ipsum is simply dummy text<br> of the printing and typesetting<br> industry. Lorem</p>
    </div>
  </div>
</div>
