<button type="button" class="btn" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-option-horizontal"></span></button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
<div class="modal-dialog modal-sm" role="document">
<div class="modal-content">
  <% @foodspot.votes_for.voters.each do |p| %>
  <%= link_to p do %>
    <%if p.provider  == "facebook" %>
      <%= image_tag p.avatar_file_name + "?type=normal", class: "img-circle user-img-small",:"data-toggle" =>"tooltip", :"data-placement" => "top", :title => "#{p.username}"%>
    <%else%>
      <%= image_tag p.avatar.url(:thumb), class: "img-circle user-img-small",:"data-toggle" =>"tooltip", :"data-placement" => "top", :title => "#{p.username}" %>
    <%end%>
  <% end %>
  <%end%>
</div>
</div>
</div>
