@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
.container-top-m {
  margin-top: 45px;
}
.nav-m-b {
  margin-bottom: 20px;
}
.navbar-nav li a {
 line-height: 45px;
}
.navbar-inverse .navbar-brand {
  margin-top: 11px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 800;
}
.navbar-inverse .navbar-brand:hover {
  margin-top: 11px;
  color: #ed7819;
  font-size: 20px;
  font-weight: 800;
}
.foodspot-name {
  font-size: 25px;
  font-weight: bold;
}
.foodspot-img{
  width: 360px;
  height: 240px;
}
.user-img-small {
  width: 45px;
  cursor: pointer;
}
.voters-img{
  position: absolute;
  right: 2px;
  bottom: -17px;
}
.caption {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.46);
}
.liked{
  position: absolute;
  bottom: 0;
  left: 5px;
  font-weight: 800;
  font-size: larger;
  color: #e4e4e4;
}
.upvotes{
  color: #fc8735
}
.caption a{
text-decoration:none;
color: #FFFFFF;
}
.caption a:hover, a:focus {
    color: #ffffff;
    text-decoration: none;
}
.navbar {
    border-radius: 0px;
}
.margin-b{
  margin-bottom: 40px;
  min-height: 250px;
}
.pad-l-b{
  padding: 0 0 20px 20px;
}
.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: inherit;
}
.like {
  font-size: 30px;
  color: #ed7819;
}
.like:hover {
  font-size: 30px;
  color: rgb(195, 195, 195);
}
.unlike {
  font-size: 25px;
  color: rgba(195, 195, 195, 0.74);
}
.unlike:hover {
  font-size: 30px;
  color: #ed7819;
}
.main-color{
  color: #ed7819;
}

.userinfo {
  font-size: 15px;
  font-weight: 600;
}
.padding-15 {
    padding: 20px 0 20px 15px;
}
.user-img-thumb {
    width: 70px;
    cursor: pointer;
}

 a:hover, a:focus {
     text-decoration: none;
 }
.liked-show {
  font-weight: 700;
  padding-top: 25px;
  color: #1f1f1f;
}
.fb-comments {
    height: 100%;
    width: 750px;
    margin-top: 15px;
    background-color: rgba(59, 87, 157, 0.1);
}
.info {
  padding-top: 25px;
}

.index-link {
  width: 360px;
  height: 240px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.46);
  color: #ffffff;
}

.index-link:hover {
  color: #ffffff;
}

.modal-user-a {
  color: #000000;
text-decoration: none;
}
.modal-user-a:hover {
  color: #000000;
text-decoration: none;
}

.image-w {
  width: 100%
}

@media (max-width: 600px) {
  .caption {
    position: absolute;
    width: 340px;
    height: 227px;
    bottom: 23px;
    background-color: rgba(0, 0, 0, 0.46);
  }

  .foodspot-img {
    width: 340px;
    height: 227px;
  }
  .fb-comments {
    height: 100%;
    width: 100%;
  }
}
