.container-fluid {
  margin-right: auto;
  margin-left: auto;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
}
@import "bootstrap-sprockets";
@import "bootstrap";
.foodspot-img{
  width: 370px;
  position: absolute;
}
.user-img-small {
  width: 45px;
}
.voters-img{
  padding-top: 135px;
}
.caption {
  position: relative;
  height: 290px;
}
.liked{
  padding-top: 135px;
  font-weight: 800;
  font-size: larger;
  color: #e4e4e4;
  padding-left: 6px;
}
.upvotes{
  color: #fc8735
}
a{
text-decoration:none;
color: #FFFFFF;
}
a:hover
{
   text-decoration: none;
   color: #FFFFFF;
}
