@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
.container-top-m {
  margin-top: 80px;
}
.nav-m-b {
  margin-bottom: 20px;
}
.navbar-nav li a {
 line-height: 45px;
}
.navbar-inverse .navbar-brand {
  margin-top: 7px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 800;
}
.navbar-inverse .navbar-brand:hover {
  font-size: 20px;
  font-weight: 800;
}
.foodspot-name {
  font-size: 25px;
  font-weight: bold;
}

.foodspot-img{
  width: 360px;
  height: 240px;
}
.user-img-small {
  width: 45px;
  cursor: pointer;
}
.user-img-thumb {
  width: 70px;
  cursor: pointer;
}
.user-img-medium {
  width: 95px;
  cursor: pointer;
}
.btn-user{
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.84);
  position: relative;
  padding: 8px 30px;
  border: 0;
  margin: 10px 1px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.2s ease, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none !important;
}
.voters-img{
  position: absolute;
  right: 2px;
  bottom: -17px;
}
body.modal-open .supreme-container{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.caption {
  position: absolute;
  width: 360px;
  height: 240px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.46);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  border: 0;
}
.liked{
  position: absolute;
  bottom: 0;
  left: 5px;
  font-weight: 800;
  font-size: larger;
  color: #e4e4e4;
}
.upvotes{
  color: #fc8735
}
.caption a{
  text-decoration:none;
  color: #FFFFFF;
}
.caption a:hover, a:focus {
  color: #ffffff;
  text-decoration: none;
}
.navbar {
  border-radius: 0px;
  webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.margin-b{
  margin-bottom: 40px;
  min-height: 250px;
}
.pad-l-b{
  padding: 0 0 20px 20px;
}
.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: inherit;
}
.like {
  font-size: 30px;
  color: #ed7819;
}
.like:hover {
  font-size: 30px;
  color: rgb(195, 195, 195);
}
.unlike {
  font-size: 25px;
  color: rgba(195, 195, 195, 0.74);
}
.unlike:hover {
  font-size: 30px;
  color: #ed7819;
}
.main-color{
  color: #ed7819;
}

.userinfo {
  font-size: 15px;
  font-weight: 600;
}
.padding-15 {
    padding: 20px 0 20px 15px;
}
.myalert {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
}
 a:hover, a:focus {
     text-decoration: none;
 }
.liked-show {
  font-weight: 700;
  padding-top: 25px;
  color: #1f1f1f;
}
.fb-comments {
  height: 100%;
  width: 750px;
  margin-top: 15px;
  background-color: rgba(59, 87, 157, 0.1);
}
.info {
  padding-top: 25px;
}

.index-link {
  width: 360px;
  height: 240px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.46);
  color: #ffffff;
}

.index-link:hover {
  color: #ffffff;
}

.modal-user-a {
  color: #000000;
  text-decoration: none;
}
.modal-user-a:hover {
  color: #000000;
  text-decoration: none;
}

.image-w {
  width: 100%
}
.navbar .navbar-nav > li > a {
  color: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 800;
}
.navbar .navbar-nav > li > a:hover {
  position: relative;
  display: block;
  background-color: rgba(255, 255, 255, 0.06);
  color: #ffffff;
}
.navbar .navbar-nav .open .dropdown-menu > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: rgba(255, 255, 255, 0.06);
}
// *******  header_section *******
.bg {
  background-color: #2d2d2d;
  color: #fff4e7;
  margin-top: 70px;
  background-image: url(/assets/bgimage.jpg);
  height: 550px;
  background-size: cover;
}
.black-bg {
  background: linear-gradient(rgba(12, 12, 12, 0.43), rgba(0, 0, 0, 0.9));
  position: absolute;
  height: 550px;
  right: 0;
  left: 0;
}
.pos-r {
  position: relative;
  padding-top: 40px;
}
.head-number {
  border-radius: 50%;
  behavior: url(PIE.htc);
  width: 48px;
  height: 48px;
  padding: 5px;
  background: rgba(255, 255, 255, 0);
  border: 3px solid #fff;
  color: #fff;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 900;
}
.pad-t {
  padding-top: 45px;
}
.header-title {
  color:#FFFFFF;
  font-size:30px;
  font-weight: 900;
}
.color-b {
  color: black;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 25px;
}
.cta {
  color:#FFFFFF;
}
.cta:hover {
  color:#FFFFFF;
}
// ****---- END header_section ----****
.navbar .navbar-brand {
  height: 50px;
  padding: 20px 15px;
}
.row-top-m {
  padding-top: 80px;  
}
.search-bar{
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 9999999;
  width: 100%;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.search-bar.open {
  top: 0;
}
.search-bar .search-icon {
  position: absolute;
  top: 20px;
  left: 14px;
}

.search-bar-color {
  font-size: 25px;
  color: #585858;
}
.search-color {
  font-size: 25px;
  color: #ffffff;
  padding: 25px;
  cursor: pointer;
}
.search-bar input[type="text"] {
  width: 100%;
  font-size: 16px;
  padding: 27px 60px 27px 56px;
  border: none;
}
.search-bar .close-search {
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  top: 16px;
  right: 18px;
}

.search-bar .close-search .glyphicon-remove {
  color: #585858;
  opacity: 1;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .caption {
    position: absolute;
    width: 340px;
    height: 227px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.46);
    left: 15px;
    top: 0px;
    right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-inverse .navbar-brand {
      margin-top: 8px;
  }
  .foodspot-img {
    width: 340px;
    height: 227px;
  }
  .fb-comments {
    height: 100%;
    width: 100%;
  }
  .margin-b {
    margin-bottom: 0px;
    min-height: 250px;
  }
  .container-top-m {
    margin-top: 80px;
  }
  .navbar-inverse .navbar-brand:hover {
      color: #eff1ff;
  }
  .pad-t {
    display: none;
  }
  .bg {
    background-color: #2d2d2d;
    color: #fff4e7;
    margin-top: 70px;
    background-image: url(/assets/bgimage.jpg);
    height: 290px;
    background-size: cover;
  }

 .black-bg {
    background: linear-gradient(rgba(12, 12, 12, 0.32), rgba(0, 0, 0, 0.82));
    position: absolute;
    height: 290px;
    right: 0;
    left: 0;
  }
 .row-top-m {
    padding-top: 60px;  
  }
  
}
@media (max-width: 767px) {
  .container-top-m {
    margin-top: 20px;
  }
  .navbar-inverse .navbar-brand {
    margin-top: 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
  }
  .navbar-inverse .navbar-brand:hover {
    margin-top: 0;
    color: #eff1ff;
    font-size: 18px;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
  }
  .bg {
    margin-top: 40px;
  }

  .header-title {
    font-size: 27px;
  }
  .popular-title{
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
  }
  .lead {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
  }
  .navbar .navbar-brand {
    height: 50px;
    padding: 10px 15px;
  }
  .search-bar .close-search {
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    top: 11px;
    right: 18px;
  }
  .search-bar input[type="text"] {
    width: 100%;
    font-size: 14px;
    padding: 15px 60px 15px 56px;
    border: none;
  }
  .search-bar .search-icon {
    position: absolute;
    top: 11px;
    left: 14px;
  }
}

@media all and (max-width: 320px) and (min-width: 100px) {
  .foodspot-img {
      width: 290px;
      height: 200px;
  }
  .caption {
    position: absolute;
    width: 290px;
    height: 201px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.46);
    left: 15px;
    top: 0px;
    right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
